[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

# Automatically trigger function on form submission
[[plugins]]
  package = "@netlify/plugin-functions-install-core"
